@import "tailwindcss";
@import "tw-animate-css";

/* Styles d'impression pour l'agenda todo list */
@media print {
}

@layer base {
  :root {
    --background: #f9f3ec;
    --foreground: #141313;
    --card: #f5f3ef;
    --card-foreground: #21201f;
    --popover: #fcf9f5;
    --popover-foreground: #190f00;
    --primary: #d9840d;
    --primary-foreground: #000000;
    --secondary: #d6cec2;
    --secondary-foreground: #000000;
    --muted: #e8ebe0;
    --muted-foreground: #62605d;
    --accent: #dde0d1;
    --accent-foreground: #21201f;
    --destructive: #b31919;
    --destructive-foreground: #f3f2f2;
    --border: #beac93;
    --input: #6c5a41;
    --ring: #da850d;
    --radius: 0.5rem;

    --sidebar-background: #f2e8d9;
    --sidebar-foreground: #121211;
    --sidebar-primary: #c6780c;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #d4d8c5;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #b8a589;
    --sidebar-ring: #e36002;
  }

  .dark {
    --background: #19140d;
    --foreground: #f3f2f2;
    --card: #100d0a;
    --card-foreground: #f3f2f2;
    --popover: #110d09;
    --popover-foreground: #f3f2f2;
    --primary: #d9840d;
    --primary-foreground: #000000;
    --secondary: #2e281f;
    --secondary-foreground: #ffffff;
    --muted: #393d29;
    --muted-foreground: #a2a09d;
    --accent: #393d29;
    --accent-foreground: #ececeb;
    --destructive: #b31919;
    --destructive-foreground: #f3f2f2;
    --border: #6c5a41;
    --input: #6c5a41;
    --ring: #da850d;
    --radius: 0.5rem;

    --sidebar-background: #211b12;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #ae690a;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #303423;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #66553d;
    --sidebar-ring: #e36002;
  }
}
